<table style="font-size: 12.0pt; color: black; font-weight: 400; font-family: Calibri, sans-serif; border-collapse: collapse; width: 1500pt;" border="1" cellspacing="0" cellpadding="2">
<tbody>
<tr style="font-size: 12.0pt; font-family: Calibri, sans-serif; border: .5pt solid windowtext;" bgcolor="#000000">
<td>&nbsp;</td>
<td colspan="3"><em><span style="color: #ffffff; padding-right: 5px;">General info</span></em></td>
<td colspan="4"><em><span style="color: #ffffff; padding-right: 5px;">Faulty app info</span></em></td>
<td colspan="3"><em><span style="color: #ffffff; padding-right: 5px;">Fixed app info</span></em></td>
<td colspan="4"><em><span style="color: #ffffff; padding-right: 5px;">Execution info</span></em></td>
</tr>
<tr style="font-size: 13.0pt; font-family: Calibri, sans-serif; border: .5pt solid windowtext;" bgcolor="#000000">
<td><span style="color: #ffffff; padding-right: 5px;"><strong>ID</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>App Name</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Category</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Issue Report</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Faulty Version</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Faulty Apk</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Faulty Source Code</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Faulty Activity</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Fixed Version</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Fixed Apk</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Fixed Source Code</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Test Case</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Oracle</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Tested API</strong></span></td>
<td><span style="color: #ffffff; padding-right: 5px;"><strong>Target API (Comp-Min)</strong></span></td>
</tr>
<tr>
<td>1</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager">Amaze File Manager</a></td>
<td>Tools</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/issues/1034">Issue 1034</a></td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/tree/v3.1.0-beta.1">v3.1.0-beta.1</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Apk/">v3.1.0-beta.1.apk</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Source%20Code/">v3.1.0-beta.1.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/pull/1053/commits/884c16cf31aa9c1edd8f7d029c2970ffe4fae986">884c16c</a></td>
<td><a href=".\Amaze File Manager\Amaze File Manager 884c16c\Apk">884c16c.apk</a></td>
<td><a href=".\Amaze%20File%20Manager\Amaze%20File%20Manager%20884c16c\Source%20Code">884c16c.zip</a></td>
<td><a href="./Amaze%20File%20Manager/Tests/">TestCase 1034</a></td>
<td>Yes</td>
<td>22</td>
<td>25 (25 - 14)</td>
</tr>
<tr>
<td>2</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager">Amaze File Manager</a></td>
<td>Tools</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/issues/383">Issue 383</a></td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/tree/v3.1.0-beta.1">v3.1.0-beta.1</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Apk/">v3.1.0-beta.1.apk</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Source%20Code/">v3.1.0-beta.1.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href="./Amaze%20File%20Manager/Tests/">TestCase 383a</a></td>
<td>Yes</td>
<td>22</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td>3</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager">Amaze File Manager</a></td>
<td>Tools</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/issues/383">Issue 383</a></td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/tree/v3.1.0-beta.1">v3.1.0-beta.1</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Apk/">v3.1.0-beta.1.apk</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Source%20Code/">v3.1.0-beta.1.zip</a></td>
<td>Preferences</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href="./Amaze%20File%20Manager/Tests/">TestCase 383b</a></td>
<td>Yes</td>
<td>22</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td>4</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager">Amaze File Manager</a></td>
<td>Tools</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/issues/384">Issue 384</a></td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/tree/v3.1.0-beta.1">v3.1.0-beta.1</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Apk/">v3.1.0-beta.1.apk</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Source%20Code/">v3.1.0-beta.1.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href="./Amaze%20File%20Manager/Tests/">TestCase 384</a></td>
<td>Yes</td>
<td>22</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td>5</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager">Amaze File Manager</a></td>
<td>Tools</td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/issues/385">Issue 385</a></td>
<td><a href="https://github.com/TeamAmaze/AmazeFileManager/tree/v3.1.0-beta.1">v3.1.0-beta.1</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Apk/">v3.1.0-beta.1.apk</a></td>
<td><a href="./Amaze%20File%20Manager/Amaze%20File%20Manager%20v3.1.0-beta.1/Source%20Code/">v3.1.0-beta.1.zip</a></td>
<td>Preferences</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href="./Amaze%20File%20Manager/Tests/">TestCase 385</a></td>
<td>Yes</td>
<td>22</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td style="height: 19px;">6</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/2023">Issue 2023</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>PreferenceActivity</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/pull/2027/commits/a7a9a11f7b2b59e041955b4cd23b547ee225a5b4">a7a9a11</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Apk">a7a9a11.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Source%20Code">a7a9a11.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 2023a</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td style="height: 19px;">7</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/2023">Issue 2023</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/pull/2027/commits/a7a9a11f7b2b59e041955b4cd23b547ee225a5b4">a7a9a11</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Apk">a7a9a11.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Source%20Code">a7a9a11.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 2023b</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td>8</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/2024">Issue 2024</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/pull/2027/commits/a7a9a11f7b2b59e041955b4cd23b547ee225a5b4">a7a9a11</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Apk">a7a9a11.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Source%20Code">a7a9a11.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 2024</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td>9</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/2025">Issue 2025</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/pull/2027/commits/a7a9a11f7b2b59e041955b4cd23b547ee225a5b4">a7a9a11</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Apk">a7a9a11.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Source%20Code">a7a9a11.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 2025</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td>10</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/2028">Issue 2028</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>PreferenceActivity</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/pull/2027/commits/a7a9a11f7b2b59e041955b4cd23b547ee225a5b4">a7a9a11</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Apk">a7a9a11.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Source%20Code">a7a9a11.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 2028</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td>11</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/2029">Issue 2029</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/pull/2027/commits/a7a9a11f7b2b59e041955b4cd23b547ee225a5b4">a7a9a11</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Apk">a7a9a11.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%20a7a9a11\Source%20Code">a7a9a11.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 2029</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td>12</td>
<td><a href="https://github.com/AntennaPod/AntennaPod">AntennaPod</a></td>
<td>Video Players</td>
<td><a href="https://github.com/AntennaPod/AntennaPod/issues/1947">Issue 1947</a></td>
<td><a href="https://github.com/AntennaPod/AntennaPod/tree/1.5.2.0">v1.5.2.0</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Apk/">v.1.5.2.0.apk</a></td>
<td><a href="./AntennaPod/AntennaPod%20v1.5.2.0/Source%20Code/">v.1.5.2.0.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/MeirSD/AntennaPod/commit/2e467d07bfd2135e47a31752f8547a133793cdf5">2e467d0</a></td>
<td><a href=".\AntennaPod\AntennaPod%202e467d0\Apk">2e467d0.apk</a></td>
<td><a href=".\AntennaPod\AntennaPod%202e467d0\Source%20Code">2e467d0.zip</a></td>
<td><a href="./AntennaPod/Tests/">TestCase 1947</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 10)</td>
</tr>
<tr>
<td>13</td>
<td><a href="https://github.com/knirirr/BeeCount">BeeCount</a></td>
<td>Productivity</td>
<td><a href="https://github.com/knirirr/BeeCount/issues/17">Issue 17</a></td>
<td><a href="https://github.com/knirirr/BeeCount/tree/2.4.7">v2.4.7</a></td>
<td><a href=".\BeeCount\BeeCount%20v2.4.7\Apk">v2.4.7.apk</a></td>
<td><a href=".\BeeCount\BeeCount%20v2.4.7\Source%20Code">v2.4.7.zip</a></td>
<td>EditProjectActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\BeeCount\Tests">TestCase 17a</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td>14</td>
<td><a href="https://github.com/knirirr/BeeCount">BeeCount</a></td>
<td>Productivity</td>
<td><a href="https://github.com/knirirr/BeeCount/issues/17">Issue 17</a></td>
<td><a href="https://github.com/knirirr/BeeCount/tree/2.4.7">v2.4.7</a></td>
<td><a href=".\BeeCount\BeeCount%20v2.4.7\Apk">v2.4.7.apk</a></td>
<td><a href=".\BeeCount\BeeCount%20v2.4.7\Source%20Code">v2.4.7.zip</a></td>
<td>CountingActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\BeeCount\Tests">TestCase 17b</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td>15</td>
<td><a href="https://github.com/knirirr/BeeCount">BeeCount</a></td>
<td>Productivity</td>
<td><a href="https://github.com/knirirr/BeeCount/issues/18">Issue 18</a></td>
<td><a href="https://github.com/knirirr/BeeCount/tree/2.4.7">v2.4.7</a></td>
<td><a href=".\BeeCount\BeeCount%20v2.4.7\Apk">v2.4.7.apk</a></td>
<td><a href=".\BeeCount\BeeCount%20v2.4.7\Source%20Code">v2.4.7.zip</a></td>
<td>ListProjectActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\BeeCount\Tests">TestCase 18</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 14)</td>
</tr>
<tr>
<td>16</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/733">Issue 733</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>MainMenu</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 733</a></td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>17</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/734">Issue 734</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>BookEdit</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 734</a></td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>18</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/735">Issue 735</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>Bookshelf</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 735</a></td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>19</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/736">Issue 736</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>BooksOnBookshelf</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 736</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>20</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/737">Issue 737</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>AdministrationFunctions</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 737</a></td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>21</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/738">Issue 738</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>BookEdit</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 738</a></td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>22</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue">Book Catalogue</a></td>
<td>Productivity</td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/issues/747">Issue 747</a></td>
<td><a href="https://github.com/eleybourn/Book-Catalogue/tree/v5.2.0-RC3a">v5.2.0-RC3a</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Apk">v5.2.0-RC3a.apk</a></td>
<td><a href=".\Book%20Catalogue\Book%20Catalogue%20v5.2.0-RC3a\Source%20Code">v5.2.0-RC3a.zip</a></td>
<td>BookshelfEdit</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Book%20Catalogue\Tests">TestCase 747</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>16 (21 - 7)</td>
</tr>
<tr>
<td>23</td>
<td><a href="https://github.com/quarck/CalendarNotification">Calendar Notifications</a></td>
<td>Productivity</td>
<td><a href="https://github.com/quarck/CalendarNotification/issues/198">Issue 198</a></td>
<td><a href="https://github.com/quarck/CalendarNotification/tree/Release_3.14.159">v3.14.159</a></td>
<td><a href=".\Calendar%20Notifications\Calendar%20Notifications%20v3.14.159\Apk">v3.14.159.apk</a></td>
<td><a href=".\Calendar%20Notifications\Calendar%20Notifications%20v3.14.159\Source%20Code">v3.14.159.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Calendar%20Notifications\Tests">TestCase 198</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 18)</td>
</tr>
<tr>
<td>24</td>
<td><a href="https://github.com/quarck/CalendarNotification">Calendar Notifications</a></td>
<td>Productivity</td>
<td><a href="https://github.com/quarck/CalendarNotification/issues/200">Issue 200</a></td>
<td><a href="https://github.com/quarck/CalendarNotification/tree/Release_3.14.159">v3.14.159</a></td>
<td><a href=".\Calendar%20Notifications\Calendar%20Notifications%20v3.14.159\Apk">v3.14.159.apk</a></td>
<td><a href=".\Calendar%20Notifications\Calendar%20Notifications%20v3.14.159\Source%20Code">v3.14.159.zip</a></td>
<td>AboutActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Calendar%20Notifications\Tests">TestCase 200</a>&nbsp;&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 18)</td>
</tr>
<tr>
<td>25</td>
<td><a href="https://github.com/quarck/CalendarNotification">Calendar Notifications</a></td>
<td>Productivity</td>
<td><a href="https://github.com/quarck/CalendarNotification/issues/202">Issue 202</a></td>
<td><a href="https://github.com/quarck/CalendarNotification/tree/Release_3.14.159">v3.14.159</a></td>
<td><a href=".\Calendar%20Notifications\Calendar%20Notifications%20v3.14.159\Apk">v3.14.159.apk</a></td>
<td><a href=".\Calendar%20Notifications\Calendar%20Notifications%20v3.14.159\Source%20Code">v3.14.159.zip</a></td>
<td>SettingsActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Calendar%20Notifications\Tests">TestCase 202</a>&nbsp;&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 18)</td>
</tr>
<tr>
<td>26</td>
<td><a href="https://github.com/siacs/Conversations">Conversations</a></td>
<td>Communication</td>
<td><a href="https://github.com/siacs/Conversations/issues/2011">Issue 2011</a></td>
<td><a href="https://github.com/siacs/Conversations/tree/1.14.0">v1.14.0</a></td>
<td><a href=".\Conversations\Conversations%20v1.14.0\Apk">v1.14.0.apk </a></td>
<td><a href=".\Conversations\Conversations%20v1.14.0\Source%20Code">v1.14.0.zip </a></td>
<td>ConversationActivity</td>
<td><a href="https://github.com/siacs/Conversations/commit/6cb2b0b5d1654c0a91aca09d791568b12850f9c9">6cb2b0b</a></td>
<td><a href=".\Conversations\Conversations%206cb2b0b\Apk">6cb2b0b.apk </a></td>
<td><a href=".\Conversations\Conversations%206cb2b0b\Source%20Code">6cb2b0b.zip </a></td>
<td><a href=".\Conversations\Tests">TestCase 2011</a></td>
<td>Yes</td>
<td>23</td>
<td>24 (24 - 14)</td>
</tr>
<tr>
<td>27</td>
<td><a href="https://github.com/siacs/Conversations">Conversations</a></td>
<td>Communication</td>
<td><a href="https://github.com/siacs/Conversations/issues/2860">Issue 2860</a></td>
<td><a href="https://github.com/siacs/Conversations/tree/1.23.8">v1.23.8</a></td>
<td><a href=".\Conversations\Conversations%20v1.23.8\Apk">v1.23.8.apk </a></td>
<td><a href=".\Conversations\Conversations%20v1.23.8\Source%20Code">v1.23.8.zip </a></td>
<td>StartConversationActivity</td>
<td><a href="https://github.com/siacs/Conversations/pull/2864/commits/2af12afb64221c363da07ab8790a2c4d8e2da803">2af12afb</a></td>
<td><a href=".\Conversations\Conversations%202af12afb\Apk">2af12afb.apk </a></td>
<td><a href=".\Conversations\Conversations%202af12afb\Source%20Code">2af12afb.zip </a></td>
<td><a href=".\Conversations\Tests">TestCase 2860</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (27 - 14)</td>
</tr>
<tr>
<td>28</td>
<td><a href="https://github.com/cyclestreets/android">CycleStreets</a></td>
<td>Travel &amp; Local</td>
<td><a href="https://github.com/cyclestreets/android/issues/127">Issue 127</a></td>
<td><a href="https://github.com/cyclestreets/android/tree/RELEASE_3_5">v3.5</a></td>
<td><a href=".\CycleStreets\CycleStreets%20v3.5\Apk">v3.5.apk</a></td>
<td><a href=".\CycleStreets\CycleStreets%20v3.5\Source%20Code">v3.5.zip </a></td>
<td>CycleStreets</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\CycleStreets\Tests">TestCase 127</a></td>
<td>Yes</td>
<td>23</td>
<td>19 (19 -14)</td>
</tr>
<tr>
<td>29</td>
<td><a href="https://github.com/billthefarmer/diary">Diary</a></td>
<td>Tools</td>
<td><a href="https://github.com/billthefarmer/diary/issues/47">Issue 47</a></td>
<td><a href="https://github.com/billthefarmer/diary/tree/v1.26">v1.26</a></td>
<td><a href=".\Diary\Diary%20v1.26\Apk">v1.26.apk</a></td>
<td><a href=".\Diary\Diary%20v1.26\Source%20Code">v1.26.zip</a></td>
<td>Diary</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Diary\Tests">TestCase 47</a></td>
<td>Yes</td>
<td>23</td>
<td>22 (22 - 14)</td>
</tr>
<tr>
<td>30</td>
<td><a href="https://github.com/billthefarmer/diary">Diary</a></td>
<td>Tools</td>
<td><a href="https://github.com/billthefarmer/diary/issues/52">Issue 52</a></td>
<td><a href="https://github.com/billthefarmer/diary/tree/v1.26">v1.26</a></td>
<td><a href=".\Diary\Diary%20v1.26\Apk">v1.26.apk</a></td>
<td><a href=".\Diary\Diary%20v1.26\Source%20Code">v1.26.zip</a></td>
<td>Diary</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Diary\Tests">TestCase 52</a></td>
<td>Yes</td>
<td>23</td>
<td>22 (22 - 14)</td>
</tr>
<tr>
<td>31</td>
<td><a href="https://github.com/julian-klode/dns66">DNS66</a></td>
<td>Tools</td>
<td><a href="https://github.com/julian-klode/dns66/issues/64">Issue 64</a></td>
<td><a href="https://github.com/julian-klode/dns66/tree/v0.3.0">v0.3.0</a></td>
<td><a href=".\DNS66\DNS66%20v0.3.0\Apk">v0.3.0.apk </a></td>
<td><a href=".\DNS66\DNS66%20v0.3.0\Source%20Code">v0.3.0.zip</a></td>
<td>WhitelistActivity</td>
<td><a href="https://github.com/julian-klode/dns66/commit/e9bcc9c44422f6ac8e3f0e63ef4baea0edb82c99">e9bcc9c</a></td>
<td><a href=".\DNS66\DNS66%20e9bcc9c\Apk">e9bcc9c.apk</a></td>
<td><a href=".\DNS66\DNS66%20e9bcc9c\Source%20Code">e9bcc9c.zip</a></td>
<td><a href=".\DNS66\Tests">TestCase 64</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>32</td>
<td><a href="https://github.com/PrivacyApps/document-viewer">Document Viewer</a></td>
<td>Productivity</td>
<td><a href="https://github.com/PrivacyApps/document-viewer/issues/44">Issue 44</a></td>
<td><a href="https://github.com/PrivacyApps/document-viewer/tree/v2.7.9">v2.7.9</a></td>
<td><a href=".\Document%20Viewer\Document%20Viewer%20v2.7.9\Apk">v2.7.9.apk</a></td>
<td><a href=".\Document%20Viewer\Document%20Viewer%20v2.7.9\Source%20Code">v2.7.9.zip</a></td>
<td>BrowserActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Document%20Viewer\Tests">TestCase 44</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>22 (25 - 9)</td>
</tr>
<tr>
<td>33</td>
<td><a href="https://github.com/T-Rex96/Easy_xkcd">Easy xkcd</a></td>
<td>Comics</td>
<td><a href="https://github.com/T-Rex96/Easy_xkcd/issues/128">Issue 128</a></td>
<td><a href="https://github.com/T-Rex96/Easy_xkcd/tree/release_6.0.4">v6.0.4</a></td>
<td><a href=".\Easy%20xkcd\Easy%20xkcd%20v6.0.4\Apk">v6.0.4.apk</a></td>
<td><a href=".\Easy%20xkcd\Easy%20xkcd%20v6.0.4\Source%20Code">v6.0.4.zip</a></td>
<td>WhatIfActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Easy%20xkcd\Tests">TestCase 128</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>34</td>
<td><a href="https://github.com/EvanRespaut/Equate">Equate</a></td>
<td>Tools</td>
<td><a href="https://github.com/EvanRespaut/Equate/issues/11">Issue 11</a></td>
<td><a href="https://github.com/EvanRespaut/Equate/tree/v1.6">v1.6</a></td>
<td><a href=".\Equate\Equate%20v1.6\Apk">v1.6.apk</a></td>
<td><a href=".\Equate\Equate%20v1.6\Source%20Code">v1.6.zip</a></td>
<td>CalcActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Equate\Tests">TestCase 11</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 -14)</td>
</tr>
<tr>
<td>35</td>
<td><a href="https://github.com/EvanRespaut/Equate">Equate</a></td>
<td>Tools</td>
<td><a href="https://github.com/EvanRespaut/Equate/issues/10">Issue 10</a></td>
<td><a href="https://github.com/EvanRespaut/Equate/tree/v1.6">v1.6</a></td>
<td><a href=".\Equate\Equate%20v1.6\Apk">v1.6.apk</a></td>
<td><a href=".\Equate\Equate%20v1.6\Source%20Code">v1.6.zip</a></td>
<td>CalcActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Equate\Tests">TestCase 10</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 -14)</td>
</tr>
<tr>
<td>36</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar">Etar Calendar</a></td>
<td>Productivity</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/issues/121">Issue 121</a></td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/tree/v1.0.10">v1.0.10</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Apk">v1.0.10.apk</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Source%20Code">v1.0.10.zip</a></td>
<td>CalendarSettingsActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Etar%20Calendar\Tests">TestCase 121a</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>37</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar">Etar Calendar</a></td>
<td>Productivity</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/issues/121">Issue 121</a></td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/tree/v1.0.10">v1.0.10</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Apk">v1.0.10.apk</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Source%20Code">v1.0.10.zip</a></td>
<td>AllInOneActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Etar%20Calendar\Tests">TestCase 121b</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>38</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar">Etar Calendar</a></td>
<td>Productivity</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/issues/122">Issue 122</a></td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/tree/v1.0.10">v1.0.10</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Apk">v1.0.10.apk</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Source%20Code">v1.0.10.zip</a></td>
<td>AllInOneActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Etar%20Calendar\Tests">TestCase 122</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>39</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar">Etar Calendar</a></td>
<td>Productivity</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/issues/124">Issue 124</a></td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/tree/v1.0.10">v1.0.10</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Apk">v1.0.10.apk</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Source%20Code">v1.0.10.zip</a></td>
<td>AllInOneActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Etar%20Calendar\Tests">TestCase 124</a>&nbsp;</td>
<td>No</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>40</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar">Etar Calendar</a></td>
<td>Productivity</td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/issues/125">Issue 125</a></td>
<td><a href="https://github.com/Etar-Group/Etar-Calendar/tree/v1.0.10">v1.0.10</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Apk">v1.0.10.apk</a></td>
<td><a href=".\Etar%20Calendar\Etar%20Calendar%20v1.0.10\Source%20Code">v1.0.10.zip</a></td>
<td>AllInOneActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Etar%20Calendar\Tests">TestCase 125</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>41</td>
<td><a href="https://github.com/mozilla-mobile/focus-android">Firefox Focus</a></td>
<td>Communication</td>
<td><a href="https://github.com/mozilla-mobile/focus-android/issues/1974">Issue 1974</a></td>
<td><a href="https://github.com/mozilla-mobile/focus-android/tree/v4.0">v4.0</a></td>
<td><a href=".\Firefox%20Focus\Firefox%20Focus%20v4.0\Apk">v4.0.apk</a></td>
<td><a href=".\Firefox%20Focus\Firefox%20Focus%20v4.0\Apk">v4.0.apk</a></td>
<td>ManualAddSearchEnginePreference</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Firefox%20Focus\Tests">TestCase 1974</a></td>
<td>Yes</td>
<td>23</td>
<td>26 (26 - 21)</td>
</tr>
<tr>
<td>42</td>
<td><a href="https://github.com/FredJul/Flym">Flym</a></td>
<td>News &amp; Magazines</td>
<td>N/A</td>
<td><a href="https://github.com/FredJul/Flym/tree/v1.3.4">v1.3.4</a></td>
<td><a href=".\Flym\Flym%20v1.3.4\Apk">v1.3.4.apk</a></td>
<td><a href=".\Flym\Flym%20v1.3.4\Source%20Code">v1.3.4.zip</a></td>
<td>EntryView</td>
<td><a href="https://github.com/FredJul/Flym/commit/aad4ab2335380ea2dd7699229e2b87bac08c127a">aad4ab2</a></td>
<td><a href=".\Flym\Flym%20aad4ab2\Apk">aad4ab2.apk</a></td>
<td><a href=".\Flym\Flym%20aad4ab2\Source%20Code">aad4ab2.zip</a></td>
<td><a href=".\Flym\Tests">TestCase aad4ab2</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>19 (19 - 15)</td>
</tr>
<tr>
<td>43</td>
<td><a href="https://github.com/Freeyourgadget/Gadgetbridge">Gadgetbridge</a></td>
<td>Tools</td>
<td><a href="https://github.com/Freeyourgadget/Gadgetbridge/issues/1065">Issue 1065</a></td>
<td><a href="https://github.com/Freeyourgadget/Gadgetbridge/tree/0.25.1">v0.25.1</a></td>
<td><a href=".\Gadgetbridge\Gadgetbridge%20v0.25.1\Apk">v0.25.1.apk</a></td>
<td><a href=".\Gadgetbridge\Gadgetbridge%20v0.25.1\Source%20Code">v0.25.1.zip </a></td>
<td>ControlCenterv2</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Gadgetbridge\Tests">TestCase 1065</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>27 (27 -19)</td>
</tr>
<tr>
<td>44</td>
<td><a href="https://github.com/k9mail/k-9">K-9 Mail</a></td>
<td>Communication</td>
<td><a href="https://github.com/k9mail/k-9/issues/3049">Issue 3049</a></td>
<td><a href="https://github.com/k9mail/k-9/tree/5.401">v5.401</a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20v5.401\Apk">v5.401.apk </a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20v5.401\Source%20Code">v5.401.zip </a></td>
<td>MessageCompose</td>
<td><a href="https://github.com/sahiljolly1604/k-9/commit/f01fc1f3136664ea92a77cb364cfa31aeb8e82b6">f01fc1f</a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20f01fc1f\Apk">f01fc1f.apk </a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20f01fc1f\Source%20Code">f01fc1f.zip </a></td>
<td><a href=".\K-9%20Mail\Tests">TestCase 3049</a></td>
<td>Yes</td>
<td>23</td>
<td>22 (25 - 15)</td>
</tr>
<tr>
<td>45</td>
<td><a href="https://github.com/k9mail/k-9">K-9 Mail</a></td>
<td>Communication</td>
<td><a href="https://github.com/k9mail/k-9/issues/1720">Issue 1720</a></td>
<td><a href="https://github.com/k9mail/k-9/tree/af9b4d3f0167fcb2de644722078e7685a17134cd">v5.010</a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20v5.010\Apk">v5.010.apk </a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20v5.010\Source%20Code">v5.010.zip </a></td>
<td>MessageTopView</td>
<td><a href="https://github.com/k9mail/k-9/pull/2787/commits/e8e7b53c38e1df333cd1bed60d5453f8678ed712">e8e7b53</a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20e8e7b53\Apk">e8e7b53.apk </a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20e8e7b53\Source%20Code">e8e7b53.zip </a></td>
<td><a href=".\K-9%20Mail\Tests">TestCase 1720</a></td>
<td>Yes</td>
<td>23</td>
<td>17 (19 - 15)</td>
</tr>
<tr>
<td>46</td>
<td><a href="https://github.com/k9mail/k-9">K-9 Mail</a></td>
<td>Communication</td>
<td><a href="https://github.com/k9mail/k-9/issues/2685">Issue 2685</a></td>
<td><a href="https://github.com/k9mail/k-9/tree/4d3130f555206ce4dfa46707c285ccb115c0ebc6">v5.207</a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20v5.207\Apk">v5.207.apk </a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%20v5.207\Source%20Code">v5.207.zip </a></td>
<td>MessageTopView</td>
<td><a href="https://github.com/k9mail/k-9/commit/8843ecb201ad1bc10bcfeb904823871c3078c634">8843ecb</a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%208843ecb\Apk">8843ecb.apk </a></td>
<td><a href=".\K-9%20Mail\K-9%20Mail%208843ecb\Source%20Code">8843ecb.zip </a></td>
<td><a href=".\K-9%20Mail\Tests">TestCase 2685</a></td>
<td>Yes</td>
<td>23</td>
<td>22 (24 - 15)</td>
</tr>
<tr>
<td>47</td>
<td><a href="https://github.com/Neamar/KISS">KISS Launcher</a></td>
<td>Personalisation</td>
<td><a href="https://github.com/Neamar/KISS/issues/531">Issue 531</a></td>
<td><a href="https://github.com/Neamar/KISS/tree/v2.25.0">v2.25.0</a></td>
<td><a href=".\KISS%20Launcher\KISS%20Launcher%20v2.25.0\Apk">v2.25.0.apk </a></td>
<td><a href=".\KISS%20Launcher\KISS%20Launcher%20v2.25.0\Source%20Code">v2.25.0.zip </a></td>
<td>SettingsActivity</td>
<td><a href="https://github.com/Neamar/KISS/pull/559/commits/f4f735a37e48aed25a623ab7c5677c4c86cb3886">f4f735a</a></td>
<td><a href=".\KISS%20Launcher\KISS%20Launcher%20f4f735a\Apk">f4f735a.apk </a></td>
<td><a href=".\KISS%20Launcher\KISS%20Launcher%20f4f735a\Source%20Code">f4f735a.zip </a></td>
<td><a href=".\KISS%20Launcher\Tests">TestCase 531</a></td>
<td>Yes</td>
<td>23</td>
<td>22 (22 - 10)</td>
</tr>
<tr>
<td>48</td>
<td><a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a></td>
<td>Productivity</td>
<td><a href="https://github.com/iSoron/uhabits/issues/238">Issue 238</a></td>
<td><a href="https://github.com/iSoron/uhabits/tree/v1.6.2">v1.6.2</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Apk">v1.6.2.apk</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Source%20Code">v1.6.2.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Loop%20Habit%20Tracker\Tests">TestCase 238</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 15)</td>
</tr>
<tr>
<td>49</td>
<td><a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a></td>
<td>Productivity</td>
<td><a href="https://github.com/iSoron/uhabits/issues/239">Issue 239</a></td>
<td><a href="https://github.com/iSoron/uhabits/tree/v1.6.2">v1.6.2</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Apk">v1.6.2.apk</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Source%20Code">v1.6.2.zip</a></td>
<td>AboutActivity</td>
<td><a href="https://github.com/iSoron/uhabits/commit/e6c9f7f0c9810c1fd9c82a25101dd01435f0af82">e6c9f7f</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20e6c9f7f\Apk">e6c9f7f.apk </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20e6c9f7f\Source%20Code">e6c9f7f.zip </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Tests">TestCase 239a</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 15)</td>
</tr>
<tr>
<td>50</td>
<td><a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a></td>
<td>Productivity</td>
<td><a href="https://github.com/iSoron/uhabits/issues/239">Issue 239</a></td>
<td><a href="https://github.com/iSoron/uhabits/tree/v1.6.2">v1.6.2</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Apk">v1.6.2.apk</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Source%20Code">v1.6.2.zip</a></td>
<td>ShowHabitActivity</td>
<td><a href="https://github.com/iSoron/uhabits/commit/e6c9f7f0c9810c1fd9c82a25101dd01435f0af82">e6c9f7f</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20e6c9f7f\Apk">e6c9f7f.apk </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20e6c9f7f\Source%20Code">e6c9f7f.zip </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Tests">TestCase 239b</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 15)</td>
</tr>
<tr>
<td>51</td>
<td><a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a></td>
<td>Productivity</td>
<td><a href="https://github.com/iSoron/uhabits/issues/240">Issue 240</a></td>
<td><a href="https://github.com/iSoron/uhabits/tree/v1.6.2">v1.6.2</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Apk">v1.6.2.apk</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Source%20Code">v1.6.2.zip</a></td>
<td>HistoryEditorDialog</td>
<td><a href="https://github.com/iSoron/uhabits/commit/03e58f9ef29cfd1af02f908ccc259ba0e1390977">03e58f9</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%2003e58f9\Apk">03e58f9.apk </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%2003e58f9\Source%20Code">03e58f9.zip </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Tests">TestCase 240</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>23 (23 - 15)</td>
</tr>
<tr>
<td>52</td>
<td><a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a></td>
<td>Productivity</td>
<td><a href="https://github.com/iSoron/uhabits/issues/241">Issue 241</a></td>
<td><a href="https://github.com/iSoron/uhabits/tree/v1.6.2">v1.6.2</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Apk">v1.6.2.apk</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Source%20Code">v1.6.2.zip</a></td>
<td>ListHabitsScreen</td>
<td><a href="https://github.com/iSoron/uhabits/commit/d19d57e5df9ac0b423547f49ac80e16d538808d5">d19d57e</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20d19d57e\Apk">d19d57e.apk </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20d19d57e\Source%20Code">d19d57e.zip </a></td>
<td><a href=".\Loop%20Habit%20Tracker\Tests">TestCase 241</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 15)</td>
</tr>
<tr>
<td>53</td>
<td><a href="https://github.com/iSoron/uhabits">Loop Habit Tracker</a></td>
<td>Productivity</td>
<td><a href="https://github.com/iSoron/uhabits/issues/242">Issue 242</a></td>
<td><a href="https://github.com/iSoron/uhabits/tree/v1.6.2">v1.6.2</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Apk">v1.6.2.apk</a></td>
<td><a href=".\Loop%20Habit%20Tracker\Loop%20Habit%20Tracker%20v1.6.2\Source%20Code">v1.6.2.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Loop%20Habit%20Tracker\Tests">TestCase 242</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 15)</td>
</tr>
<tr>
<td>54</td>
<td><a href="https://gitlab.com/gateship-one/malp">M.A.L.P.</a></td>
<td>Music &amp; Audio</td>
<td><a href="https://gitlab.com/gateship-one/malp/issues/17">Issue 17</a></td>
<td><a href="https://github.com/gateship-one/malp/tree/release-9">v1.1.0</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Apk">v1.1.0.apk </a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Source%20Code">v1.1.0.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\MALP\Tests">TestCase 17</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>55</td>
<td><a href="https://gitlab.com/gateship-one/malp">M.A.L.P.</a></td>
<td>Music &amp; Audio</td>
<td><a href="https://gitlab.com/gateship-one/malp/issues/18">Issue 18</a></td>
<td><a href="https://github.com/gateship-one/malp/tree/release-9">v1.1.0</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Apk">v1.1.0.apk</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Source%20Code">v1.1.0.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\MALP\Tests">TestCase 18</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>56</td>
<td><a href="https://gitlab.com/gateship-one/malp">M.A.L.P.</a></td>
<td>Music &amp; Audio</td>
<td><a href="https://gitlab.com/gateship-one/malp/issues/19">Issue 19</a></td>
<td><a href="https://github.com/gateship-one/malp/tree/release-9">v1.1.0</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Apk">v1.1.0.apk</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Source%20Code">v1.1.0.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\MALP\Tests">TestCase 19</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>57</td>
<td><a href="https://gitlab.com/gateship-one/malp">M.A.L.P.</a></td>
<td>Music &amp; Audio</td>
<td><a href="https://gitlab.com/gateship-one/malp/issues/20">Issue 20</a></td>
<td><a href="https://github.com/gateship-one/malp/tree/release-9">v1.1.0</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Apk">v1.1.0.apk</a></td>
<td><a href=".\MALP\MALP%20v1.1.0\Source%20Code">v1.1.0.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/gateship-one/malp/commit/0f780495a0b6dd58116f3af0b2602fda3afae81a">0f78049</a></td>
<td><a href=".\MALP\MALP%200f78049\Apk">0f78049.apk</a></td>
<td><a href=".\MALP\MALP%200f78049\Source%20Code">0f78049.zip</a></td>
<td><a href=".\MALP\Tests">TestCase 20</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>58</td>
<td><a href="https://gitlab.com/gateship-one/malp">M.A.L.P.</a></td>
<td>Music &amp; Audio</td>
<td>N/A</td>
<td><a href="https://github.com/gateship-one/malp/tree/3d310621094eed239b9e8de9923e69fb397c2bfc">3d31062</a></td>
<td><a href=".\MALP\MALP%203d31062\Apk">3d31062.apk </a></td>
<td><a href=".\MALP\MALP%203d31062\Source%20Code">3d31062.zip </a></td>
<td>MainActivity</td>
<td><a href="https://github.com/gateship-one/malp/commit/b39e3cb3daa0f76dcdb71f89bc9bbc7469efc8b9">b39e3cb</a></td>
<td><a href=".\MALP\MALP%20b39e3cb\Apk">b39e3cb.apk </a></td>
<td><a href=".\MALP\MALP%20b39e3cb\Source%20Code">b39e3cb.zip </a></td>
<td><a href=".\MALP\Tests">TestCase 3d310</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 21)</td>
</tr>
<tr>
<td>59</td>
<td><a href="https://github.com/maks/MGit">MGit</a></td>
<td>Productivity</td>
<td><a href="https://github.com/maks/MGit/issues/124">Issue 124</a></td>
<td><a href="https://github.com/maks/MGit/tree/v1.5.0">v1.5.0</a></td>
<td><a href=".\MGit\MGit%20v1.5.0\Apk">v1.5.0.apk</a></td>
<td><a href=".\MGit\MGit%20v1.5.0\Source%20Code">v1.5.0.zip </a></td>
<td>ImportRepositoryActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\MGit\Tests">TestCase 124</a></td>
<td>Yes</td>
<td>23</td>
<td>26 (26 - 16)</td>
</tr>
<tr>
<td>60</td>
<td><a href="https://github.com/AEFeinstein/mtg-familiar">MTG Familiar</a></td>
<td>Tools</td>
<td><a href="https://github.com/AEFeinstein/mtg-familiar/issues/373">Issue 373</a></td>
<td><a href="https://github.com/AEFeinstein/mtg-familiar/tree/v3.5.5">v3.5.5</a></td>
<td><a href=".\MTG%20Familiar\MTG%20Familiar%20v3.5.5\Apk">v3.5.5.apk </a></td>
<td><a href=".\MTG%20Familiar\MTG%20Familiar%20v3.5.5\Source%20Code">v3.5.5.zip</a></td>
<td>FamiliarActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\MTG%20Familiar\Tests">TestCase 373</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>26 (26 - 15)</td>
</tr>
<tr>
<td>61</td>
<td><a href="https://github.com/farmerbb/Notepad">Notepad</a></td>
<td>Productivity</td>
<td><a href="https://github.com/farmerbb/Notepad/issues/27">Issue 27</a></td>
<td><a href="https://github.com/farmerbb/Notepad/tree/100">v2.3</a></td>
<td><a href=".\Notepad\Notepad%20v2.3\Apk">v2.3.apk </a></td>
<td><a href=".\Notepad\Notepad%20v2.3\Source%20Code">v2.3.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Notepad\Tests">TestCase 27</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>27 (27 - 14)</td>
</tr>
<tr>
<td>62</td>
<td><a href="https://github.com/slapperwan/gh4a">OctoDroid</a></td>
<td>Productivity</td>
<td><a href="https://github.com/slapperwan/gh4a/issues/777">Issue 777</a></td>
<td><a href="https://github.com/slapperwan/gh4a/tree/v4.0.3">v4.0.3</a></td>
<td><a href=".\OctoDroid\OctoDroid%20v4.0.3\Apk">v4.0.3.apk</a></td>
<td><a href=".\OctoDroid\OctoDroid%20v4.0.3\Source%20Code">v4.0.3.zip</a></td>
<td>CommitDiffViewerActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\OctoDroid\Tests">TestCase 777</a></td>
<td>Yes</td>
<td>23</td>
<td>23 (24 - 10)</td>
</tr>
<tr>
<td>63</td>
<td><a href="https://github.com/slapperwan/gh4a">OctoDroid</a></td>
<td>Productivity</td>
<td><a href="https://github.com/slapperwan/gh4a/issues/694">Issue 694</a></td>
<td><a href="https://github.com/slapperwan/gh4a/tree/v4.2.0">v4.2.0</a></td>
<td><a href=".\OctoDroid\OctoDroid%20v4.2.0\Apk">v4.2.0.apk </a></td>
<td><a href=".\OctoDroid\OctoDroid%20v4.2.0\Source%20Code">v4.2.0.zip </a></td>
<td>IssueActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\OctoDroid\Tests">TestCase 694</a></td>
<td>Yes</td>
<td>23</td>
<td>26 (26 - 16)</td>
</tr>
<tr>
<td>64</td>
<td><a href="https://github.com/slapperwan/gh4a">OctoDroid</a></td>
<td>Productivity</td>
<td><a href="https://github.com/slapperwan/gh4a/issues/357">Issue 357</a></td>
<td><a href="https://github.com/slapperwan/gh4a/tree/v4.0.3">v4.0.3</a></td>
<td><a href=".\OctoDroid\OctoDroid%20v4.0.3\Apk">v4.0.3.apk </a></td>
<td><a href=".\OctoDroid\OctoDroid%20v4.0.3\Source%20Code">v4.0.3.zip </a></td>
<td>IssueEditActivity</td>
<td><a href="https://github.com/slapperwan/gh4a/commit/6cf654ae70c41d95961e96e57b2ac5e7751cf006">6cf654a</a></td>
<td><a href=".\OctoDroid\OctoDroid%206cf654a\Apk">6cf654a.apk</a></td>
<td><a href=".\OctoDroid\OctoDroid%206cf654a\Source%20Code">6cf654a.zip </a></td>
<td><a href=".\OctoDroid\Tests">TestCase 357</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (24 - 10)</td>
</tr>
<tr>
<td>65</td>
<td><a href="https://github.com/federicoiosue/Omni-Notes">Omni Notes</a></td>
<td>Productivity</td>
<td><a href="https://github.com/federicoiosue/Omni-Notes/issues/439">Issue 439</a></td>
<td><a href="https://github.com/federicoiosue/Omni-Notes/tree/5.4.3">v5.4.3</a></td>
<td><a href=".\Omni%20Notes\Omni%20Notes%20v5.4.3\Apk">v5.4.3.apk </a></td>
<td><a href=".\Omni%20Notes\Omni%20Notes%20v5.4.3\Source%20Code">v5.4.3.zip </a></td>
<td>MainActivity</td>
<td><a href="https://github.com/federicoiosue/Omni-Notes/pull/440/commits/c36e70b78537a6afa3fe46e74a925bc9d7e4c725">c36e70b</a></td>
<td><a href=".\Omni%20Notes\Omni%20Notes%20c36e70b\Apk">c36e70b.apk</a></td>
<td><a href=".\Omni%20Notes\Omni%20Notes%20c36e70b\Source%20Code">c36e70b.zip</a></td>
<td><a href=".\Omni%20Notes\Tests">TestCase 439</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (23 - 16)</td>
</tr>
<tr>
<td>66</td>
<td><a href="https://github.com/dmfs/opentasks">OpenTasks</a></td>
<td>Productivity</td>
<td><a href="https://github.com/dmfs/opentasks/issues/658">Issue 658</a></td>
<td><a href="https://github.com/dmfs/opentasks/tree/1.1.13">v1.1.13</a></td>
<td><a href=".\OpenTasks\OpenTasks%20v1.1.13\Apk">v1.1.13.apk </a></td>
<td><a href=".\OpenTasks\OpenTasks%20v1.1.13\Source%20Code">v1.1.13.zip </a></td>
<td>EditTaskActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\OpenTasks\Tests">TestCase 658</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>67</td>
<td><a href="https://github.com/schwabe/ics-openvpn">OpenVPN for Android</a></td>
<td>Communication</td>
<td><a href="https://github.com/schwabe/ics-openvpn/issues/864">Issue 864</a></td>
<td><a href="https://github.com/schwabe/ics-openvpn/tree/v0.7.5">v0.7.5</a></td>
<td><a href=".\OpenVPN%20for%20Android\OpenVPN%20for%20Android%20v0.7.5\Apk">v0.7.5.apk </a></td>
<td><a href=".\OpenVPN%20for%20Android\OpenVPN%20for%20Android%20v0.7.5\Source%20Code">v0.7.5.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\OpenVPN%20for%20Android\Tests">TestCase 864</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>27 (27 - 14)</td>
</tr>
<tr>
<td>68</td>
<td><a href="https://github.com/ligi/PassAndroid">PassAndroid</a></td>
<td>Travel &amp; Local</td>
<td><a href="https://github.com/ligi/PassAndroid/issues/127">Issue 127</a></td>
<td><a href="https://github.com/ligi/PassAndroid/tree/3.3.3">v3.3.3</a></td>
<td><a href=".\PassAndroid\PassAndroid%20v3.3.3\Apk">v3.3.3.apk </a></td>
<td><a href=".\PassAndroid\PassAndroid%20v3.3.3\Source%20Code">v3.3.3.zip </a></td>
<td>PassListActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\PassAndroid\Tests">TestCase 127a</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 9)</td>
</tr>
<tr>
<td>69</td>
<td><a href="https://github.com/ligi/PassAndroid">PassAndroid</a></td>
<td>Travel &amp; Local</td>
<td><a href="https://github.com/ligi/PassAndroid/issues/127">Issue 127</a></td>
<td><a href="https://github.com/ligi/PassAndroid/tree/3.3.3">v3.3.3</a></td>
<td><a href=".\PassAndroid\PassAndroid%20v3.3.3\Apk">v3.3.3.apk </a></td>
<td><a href=".\PassAndroid\PassAndroid%20v3.3.3\Source%20Code">v3.3.3.zip </a></td>
<td>PassEditActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\PassAndroid\Tests">TestCase 127b</a></td>
<td>Yes</td>
<td>23&nbsp;</td>
<td>25 (25 - 9)</td>
</tr>
<tr>
<td>70</td>
<td><a href="https://github.com/ligi/PassAndroid">PassAndroid</a></td>
<td>Travel &amp; Local</td>
<td><a href="https://github.com/ligi/PassAndroid/issues/128">Issue 128</a></td>
<td><a href="https://github.com/ligi/PassAndroid/tree/3.3.3">v3.3.3</a></td>
<td><a href=".\PassAndroid\PassAndroid%20v3.3.3\Apk">v3.3.3.apk </a></td>
<td><a href=".\PassAndroid\PassAndroid%20v3.3.3\Source%20Code">v3.3.3.zip </a></td>
<td>HelpActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\PassAndroid\Tests">TestCase 128</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>25 (25 - 9)</td>
</tr>
<tr>
<td>71</td>
<td><a href="https://github.com/Frozen-Developers/android-periodic-table">Periodic Table</a></td>
<td>Education</td>
<td><a href="https://github.com/Frozen-Developers/android-periodic-table/issues/12">Issue 12</a></td>
<td><a href="https://github.com/Frozen-Developers/android-periodic-table/tree/v1.1.1">v1.1.1</a></td>
<td><a href=".\Periodic%20Table\Periodic%20Table%20v1.1.1\Apk">v1.1.1.apk </a></td>
<td><a href=".\Periodic%20Table\Periodic%20Table%20v1.1.1\Source%20Code">v1.1.1.zip </a></td>
<td>AboutActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Periodic%20Table\Tests">TestCase 12</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>21 (21 - 9)</td>
</tr>
<tr>
<td>72</td>
<td><a href="https://github.com/Frozen-Developers/android-periodic-table">Periodic Table</a></td>
<td>Education</td>
<td><a href="https://github.com/Frozen-Developers/android-periodic-table/issues/13">Issue 13</a></td>
<td><a href="https://github.com/Frozen-Developers/android-periodic-table/tree/v1.1.1">v1.1.1</a></td>
<td><a href=".\Periodic%20Table\Periodic%20Table%20v1.1.1\Apk">v1.1.1.apk </a></td>
<td><a href=".\Periodic%20Table\Periodic%20Table%20v1.1.1\Source%20Code">v1.1.1.zip </a></td>
<td>PropertiesActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Periodic%20Table\Tests">TestCase 13</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>21 (21 - 9)</td>
</tr>
<tr>
<td>73</td>
<td><a href="https://github.com/xargsgrep/PortKnocker">Port Knocker</a></td>
<td>Tools</td>
<td><a href="https://github.com/xargsgrep/PortKnocker/issues/7">Issue 7</a></td>
<td><a href="https://github.com/xargsgrep/PortKnocker/tree/7f3752286457bbf7e7f3ff14bfdafc51b7908fbe">v1.0.8</a></td>
<td><a href=".\Port%20Knocker\Port%20Knocker%20v1.0.8\Apk">v1.0.8.apk</a></td>
<td><a href=".\Port%20Knocker\Port%20Knocker%20v1.0.8\Source%20Code">v1.0.8.zip</a></td>
<td>HostListActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Port%20Knocker\Tests">TestCase 7</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>74</td>
<td><a href="https://github.com/xargsgrep/PortKnocker">Port Knocker</a></td>
<td>Tools</td>
<td><a href="https://github.com/xargsgrep/PortKnocker/issues/9">Issue 9</a></td>
<td><a href="https://github.com/xargsgrep/PortKnocker/tree/7f3752286457bbf7e7f3ff14bfdafc51b7908fbe">v1.0.8</a></td>
<td><a href=".\Port%20Knocker\Port%20Knocker%20v1.0.8\Apk">v1.0.8.apk</a></td>
<td><a href=".\Port%20Knocker\Port%20Knocker%20v1.0.8\Source%20Code">v1.0.8.zip</a></td>
<td>HostListActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Port%20Knocker\Tests">TestCase 9</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>75</td>
<td><a href="https://github.com/xargsgrep/PortKnocker">Port Knocker</a></td>
<td>Tools</td>
<td><a href="https://github.com/xargsgrep/PortKnocker/issues/10">Issue 10</a></td>
<td><a href="https://github.com/xargsgrep/PortKnocker/tree/7f3752286457bbf7e7f3ff14bfdafc51b7908fbe">v1.0.8</a></td>
<td><a href=".\Port%20Knocker\Port%20Knocker%20v1.0.8\Apk">v1.0.8.apk</a></td>
<td><a href=".\Port%20Knocker\Port%20Knocker%20v1.0.8\Source%20Code">v1.0.8.zip</a></td>
<td>EditHostActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Port%20Knocker\Tests">TestCase 10</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 19)</td>
</tr>
<tr>
<td>76</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/70">Issue 70</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Main</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 70</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>77</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/71">Issue 71</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Main</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 71</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>78</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/72">Issue 72</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Tesbihat</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 72a</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>79</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/72">Issue 72</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Main</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 72b</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>80</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/73">Issue 73</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Main</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 73</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>81</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/74">Issue 74</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Main</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 74</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>82</td>
<td><a href="https://github.com/metinkale38/prayer-times-android">Prayer Times</a></td>
<td>Tools</td>
<td><a href="https://github.com/metinkale38/prayer-times-android/issues/76">Issue 76</a></td>
<td><a href="https://github.com/metinkale38/prayer-times-android/tree/fdroid-v3.6.6">v3.6.6</a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Apk">v3.6.6.apk </a></td>
<td><a href=".\Prayer%20Times\Prayer%20Times%20v3.6.6\Source%20Code">v3.6.6.zip </a></td>
<td>Settings</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Prayer%20Times\Tests">TestCase 76</a></td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>83</td>
<td><a href="https://github.com/sandsmark/QuasselDroid">QuasselDroid</a></td>
<td>Communication</td>
<td><a href="https://github.com/sandsmark/QuasselDroid/issues/200">Issue 200</a></td>
<td><a href="https://github.com/sandsmark/QuasselDroid/tree/v0.11.5">v0.11.5</a></td>
<td><a href=".\QuasselDroid\QuasselDroid%20v0.11.5\Apk">v0.11.5.apk </a></td>
<td><a href=".\QuasselDroid\QuasselDroid%20v0.11.5\Source%20Code">v0.11.5.zip</a></td>
<td>LoginActivity</td>
<td><a href="https://github.com/sandsmark/QuasselDroid/commit/df86c1441a32b8115b64f8defeaaaf0bf3df12f7">df86c14</a></td>
<td><a href=".\QuasselDroid\QuasselDroid%20df86c14\Apk">df86c14.apk </a></td>
<td><a href=".\QuasselDroid\QuasselDroid%20df86c14\Source%20Code">df86c14.zip </a></td>
<td><a href=".\QuasselDroid\Tests">TestCase 200</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>21 (21 - 14)</td>
</tr>
<tr>
<td>84</td>
<td><a href="https://github.com/QuickLyric/QuickLyric">QuickLyric</a></td>
<td>Music &amp; Audio</td>
<td><a href="https://github.com/QuickLyric/QuickLyric/issues/149">Issue 149</a></td>
<td><a href="https://github.com/QuickLyric/QuickLyric/tree/2.1">v2.1</a></td>
<td><a href=".\QuickLyric\QuickLyric%20v2.1\Apk">v2.1.apk</a></td>
<td><a href=".\QuickLyric\QuickLyric%20v2.1\Source%20Code">v2.1.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\QuickLyric\Tests">TestCase 149</a></td>
<td>Yes</td>
<td>23</td>
<td>22 (22 - 14)</td>
</tr>
<tr>
<td>85</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Draw">Simple Draw</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Draw/issues/95">Issue 95</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Draw/tree/3.1.5">v3.1.5</a></td>
<td><a href=".\Simple%20Draw\Simple%20Draw%20v3.1.5\Apk">v3.1.5.apk</a></td>
<td><a href=".\Simple%20Draw\Simple%20Draw%20v3.1.5\Source%20Code">v3.1.5.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Draw/commit/594718fd3939186a3dbfa6dd674d9b8236485ee6">594718f</a></td>
<td><a href=".\Simple%20Draw\Simple%20Draw%20594718f\Apk">594718f.apk </a></td>
<td><a href=".\Simple%20Draw\Simple%20Draw%20594718f\Source%20Code">594718f.zip</a></td>
<td><a href=".\Simple%20Draw\Tests">TestCase 95</a>&nbsp;</td>
<td>No</td>
<td>23</td>
<td>27 (27 - 16)</td>
</tr>
<tr>
<td>86</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager">Simple File Maganer</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager/issues/174">Issue 174</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager/tree/3.2.0">v3.2.0</a></td>
<td><a href=".\Simple%20File%20Manager\Simple%20File%20Manager%20v3.2.0\Apk">v3.2.0.apk </a></td>
<td><a href=".\Simple%20File%20Manager\Simple%20File%20Manager%20v3.2.0\Source%20Code">v3.2.0.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Simple%20File%20Manager\Tests">TestCase 174</a></td>
<td>Yes</td>
<td>23</td>
<td>27 (27 - 16)</td>
</tr>
<tr>
<td>87</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager">Simple File Maganer</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager/issues/120">Issue 120</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager/tree/2.6.0">v2.6.0</a></td>
<td><a href=".\Simple%20File%20Manager\Simple%20File%20Manager%20v2.6.0\Apk">v2.6.0.apk </a></td>
<td><a href=".\Simple%20File%20Manager\Simple%20File%20Manager%20v2.6.0\Source%20Code">v2.6.0.zip </a></td>
<td>MainActivity</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-File-Manager/commit/0680762e3f0ac8fde0a1dda66c566515b433725a">680762e</a></td>
<td><a href=".\Simple%20File%20Manager\Simple%20File%20Manager%200680762e\Apk">680762e.apk </a></td>
<td><a href=".\Simple%20File%20Manager\Simple%20File%20Manager%200680762e\Source%20Code">680762e.zip</a></td>
<td><a href=".\Simple%20File%20Manager\Tests">TestCase 120</a></td>
<td>Yes</td>
<td>23</td>
<td>26 (26 - 16)</td>
</tr>
<tr>
<td>88</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery">Simple Gallery</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/issues/88">Issue 88</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/tree/7df700d8f2f21b1125a70e0b7a841f49d5870ae7">v1.50</a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Apk">v1.50.apk </a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Source%20Code">v1.50.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Simple%20Gallery\Tests">TestCase 88a</a></td>
<td>Yes</td>
<td>22</td>
<td>24 (24 - 16)</td>
</tr>
<tr>
<td>89</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery">Simple Gallery</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/issues/88">Issue 88</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/tree/7df700d8f2f21b1125a70e0b7a841f49d5870ae7">v1.50</a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Apk">v1.50.apk </a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Source%20Code">v1.50.zip </a></td>
<td>MediaActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Simple%20Gallery\Tests">TestCase 88b</a></td>
<td>Yes</td>
<td>22</td>
<td>24 (24 - 16)</td>
</tr>
<tr>
<td>90</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery">Simple Gallery</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/issues/89">Issue 89</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/tree/7df700d8f2f21b1125a70e0b7a841f49d5870ae7">v1.50</a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Apk">v1.50.apk</a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Source%20Code">v1.50.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Simple%20Gallery\Tests">TestCase 89a</a></td>
<td>Yes</td>
<td>22</td>
<td>24 (24 - 16)</td>
</tr>
<tr>
<td>91</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery">Simple Gallery</a></td>
<td>Tools</td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/issues/89">Issue 89</a></td>
<td><a href="https://github.com/SimpleMobileTools/Simple-Gallery/tree/7df700d8f2f21b1125a70e0b7a841f49d5870ae7">v1.50</a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Apk">v1.50.apk</a></td>
<td><a href=".\Simple%20Gallery\Simple%20Gallery%20v1.50\Source%20Code">v1.50.zip</a></td>
<td>MediaActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Simple%20Gallery\Tests">TestCase 89b</a></td>
<td>Yes</td>
<td>22</td>
<td>24 (24 - 16)</td>
</tr>
<tr>
<td>92</td>
<td><a href="https://github.com/TobiasBielefeld/Simple-Solitaire">Simple Solitare</a></td>
<td>Card</td>
<td><a href="https://github.com/TobiasBielefeld/Simple-Solitaire/issues/3">Issue 3</a></td>
<td><a href="https://github.com/TobiasBielefeld/Simple-Solitaire/tree/v2.0.1">v2.0.1</a></td>
<td><a href=".\Simple%20Solitare\Simple%20Solitaire%20v2.0.1\Apk">v2.0.1.apk </a></td>
<td><a href=".\Simple%20Solitare\Simple%20Solitaire%20v2.0.1\Source%20Code">v2.0.1.zip</a></td>
<td>AboutActivity</td>
<td><a href="https://github.com/TobiasBielefeld/Simple-Solitaire/commit/df25a15d38cdcffa6b7e76df102092b9e216a20d">df25a15</a></td>
<td><a href=".\Simple%20Solitare\Simple%20Solitaire%20df25a15\Apk">df25a15.apk </a></td>
<td><a href=".\Simple%20Solitare\Simple%20Solitaire%20df25a15\Source%20Code">df25a15.zip</a></td>
<td><a href=".\Simple%20Solitare\Tests">TestCase 3</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 11)</td>
</tr>
<tr>
<td>93</td>
<td><a href="https://github.com/mpcjanssen/simpletask-android">Simpletask</a></td>
<td>Productivity</td>
<td><a href="https://github.com/mpcjanssen/simpletask-android/issues/843">Issue 843</a></td>
<td><a href="https://github.com/mpcjanssen/simpletask-android/tree/10.0.7">v10.0.7</a></td>
<td><a href=".\Simpletask\Simpletask%20v10.0.7\Apk">v10.0.7.apk </a></td>
<td><a href=".\Simpletask\Simpletask%20v10.0.7\Apk">v10.0.7.apk </a></td>
<td>AddTask</td>
<td><a href="https://github.com/mpcjanssen/simpletask-android/commit/af18172d672aa701b317cd36c23616563c8401a8">af18172</a></td>
<td><a href=".\Simpletask\Simpletask%20af18172\Apk">af18172.apk </a></td>
<td><a href=".\Simpletask\Simpletask%20af18172\Source%20Code">af18172.zip</a></td>
<td><a href=".\Simpletask\Tests">TestCase 843</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>23 (25 - 14)</td>
</tr>
<tr>
<td>94</td>
<td><a href="https://github.com/jberkel/sms-backup-plus">SMS Backup+</a></td>
<td>Tools</td>
<td><a href="https://github.com/jberkel/sms-backup-plus/issues/878">Issue 878</a></td>
<td><a href="https://github.com/jberkel/sms-backup-plus/tree/1.5.11-BETA18">v1.5.11-beta18</a></td>
<td><a href=".\SMS%20Backup%20Plus\SMS%20Backup%20Plus%20v1.5.11-Beta18\Apk">v1.5.11-beta18.apk </a></td>
<td><a href=".\SMS%20Backup%20Plus\SMS%20Backup%20Plus%20v1.5.11-Beta18\Source%20Code">v1.5.11-beta18.zip </a></td>
<td>Dialogs</td>
<td><a href="https://github.com/jberkel/sms-backup-plus/commit/94ffe3f67dd41d7e0b01e6c0efd9c30c8443620f">94ffe3f</a></td>
<td><a href=".\SMS%20Backup%20Plus\SMS%20Backup%20Plus%2094ffe3f\Apk">94ffe3f.apk </a></td>
<td><a href=".\SMS%20Backup%20Plus\SMS%20Backup%20Plus%2094ffe3f\Source%20Code">94ffe3f.zip</a></td>
<td><a href=".\SMS%20Backup%20Plus\Tests">TestCase 878</a>&nbsp;</td>
<td>No&nbsp;</td>
<td>23</td>
<td>25 (25 - 9)</td>
</tr>
<tr>
<td>95</td>
<td><a href="https://github.com/syncthing/syncthing-android">Syncthing</a></td>
<td>Productivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/issues/804">Issue 804</a></td>
<td><a href="https://github.com/syncthing/syncthing-android/tree/0.9.5">v0.9.5</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Apk">v0.9.5.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Source%20Code">v0.9.5.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/commit/d296be02e9d50bfa52b7834871cee10229a2a88f">d296be0</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Apk">d296be0.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Source%20Code">d296be0.zip</a></td>
<td><a href=".\Syncthing\Tests">TestCase 804</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 11)</td>
</tr>
<tr>
<td>96</td>
<td><a href="https://github.com/syncthing/syncthing-android">Syncthing</a></td>
<td>Productivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/issues/805">Issue 805</a></td>
<td><a href="https://github.com/syncthing/syncthing-android/tree/0.9.5">v0.9.5</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Apk">v0.9.5.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Source%20Code">v0.9.5.zip</a></td>
<td>FolderActivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/commit/d296be02e9d50bfa52b7834871cee10229a2a88f">d296be0</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Apk">d296be0.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Source%20Code">d296be0.zip</a></td>
<td><a href=".\Syncthing\Tests">TestCase 805</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 11)</td>
</tr>
<tr>
<td>97</td>
<td><a href="https://github.com/syncthing/syncthing-android">Syncthing</a></td>
<td>Productivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/pull/807">Issue 807</a></td>
<td><a href="https://github.com/syncthing/syncthing-android/tree/0.9.5">v0.9.5</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Apk">v0.9.5.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Source%20Code">v0.9.5.zip</a></td>
<td>FolderActivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/commit/d296be02e9d50bfa52b7834871cee10229a2a88f">d296be0</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Apk">d296be0.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Source%20Code">d296be0.zip</a></td>
<td><a href=".\Syncthing\Tests">TestCase 807a</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 11)</td>
</tr>
<tr>
<td>98</td>
<td><a href="https://github.com/syncthing/syncthing-android">Syncthing</a></td>
<td>Productivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/pull/807">Issue 807</a></td>
<td><a href="https://github.com/syncthing/syncthing-android/tree/0.9.5">v0.9.5</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Apk">v0.9.5.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Source%20Code">v0.9.5.zip</a></td>
<td>MainActivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/commit/d296be02e9d50bfa52b7834871cee10229a2a88f">d296be0</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Apk">d296be0.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Source%20Code">d296be0.zip</a></td>
<td><a href=".\Syncthing\Tests">TestCase 807b</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 11)</td>
</tr>
<tr>
<td>99</td>
<td><a href="https://github.com/syncthing/syncthing-android">Syncthing</a></td>
<td>Productivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/pull/807">Issue 807</a></td>
<td><a href="https://github.com/syncthing/syncthing-android/tree/0.9.5">v0.9.5</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Apk">v0.9.5.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20v0.9.5\Source%20Code">v0.9.5.zip</a></td>
<td>DeviceActivity</td>
<td><a href="https://github.com/syncthing/syncthing-android/commit/d296be02e9d50bfa52b7834871cee10229a2a88f">d296be0</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Apk">d296be0.apk</a></td>
<td><a href=".\Syncthing\Syncthing%20d296be0\Source%20Code">d296be0.zip</a></td>
<td><a href=".\Syncthing\Tests">TestCase 807c</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 11)</td>
</tr>
<tr>
<td>100</td>
<td><a href="https://github.com/farmerbb/Taskbar">Taskbar</a></td>
<td>Tools</td>
<td><a href="https://github.com/farmerbb/Taskbar/issues/20">Issue 20</a></td>
<td><a href="https://github.com/farmerbb/Taskbar/tree/ffd2d7fd676507219dbf0f3104ea50b35dd3c9ed">v3.0.3</a></td>
<td><a href=".\Taskbar\Taskbar%20v3.0.3\Apk">v3.0.3.apk </a></td>
<td><a href=".\Taskbar\Taskbar%20v3.0.3\Source%20Code">v3.0.3.zip </a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Taskbar\Tests">TestCase 20</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>101</td>
<td><a href="https://github.com/farmerbb/Taskbar">Taskbar</a></td>
<td>Tools</td>
<td><a href="https://github.com/farmerbb/Taskbar/issues/21">Issue 21</a></td>
<td><a href="https://github.com/farmerbb/Taskbar/tree/ffd2d7fd676507219dbf0f3104ea50b35dd3c9ed">v3.0.3</a></td>
<td><a href=".\Taskbar\Taskbar%20v3.0.3\Apk">v3.0.3.apk</a></td>
<td><a href=".\Taskbar\Taskbar%20v3.0.3\Source%20Code">v3.0.3.zip</a></td>
<td>MainActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Taskbar\Tests">TestCase 21</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 21)</td>
</tr>
<tr>
<td>102</td>
<td><a href="https://github.com/tasks/tasks">Tasks: Astrid To-Do List Clone</a></td>
<td>Productivity</td>
<td><a href="https://github.com/tasks/tasks/issues/654">Issue 654</a></td>
<td><a href="https://github.com/tasks/tasks/tree/6.0.6">v6.0.6</a></td>
<td><a href=".\Tasks%20Astrid%20To-Do%20List%20Clone\Tasks%20Astrid%20To-Do%20List%20Clone%20v6.0.6\Apk">v6.0.6.apk </a></td>
<td><a href=".\Tasks%20Astrid%20To-Do%20List%20Clone\Tasks%20Astrid%20To-Do%20List%20Clone%20v6.0.6\Source%20Code">v6.0.6.zip</a></td>
<td>TaskListActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Tasks%20Astrid%20To-Do%20List%20Clone\Tests">TestCase 654</a>&nbsp;</td>
<td>No</td>
<td>23</td>
<td>27 (27 - 1 5)</td>
</tr>
<tr>
<td>103</td>
<td><a href="https://github.com/tuskyapp/Tusky">Tusky for Mastodon</a></td>
<td>Social</td>
<td><a href="https://github.com/tuskyapp/Tusky/issues/45">Issue 45</a></td>
<td><a href="https://github.com/tuskyapp/Tusky/tree/v1.0.3">v1.0.3</a></td>
<td><a href=".\Tusky%20for%20Mastodon\Tusky%20for%20Mastodon%20v1.0.3\Apk">v1.0.3.apk </a></td>
<td><a href=".\Tusky%20for%20Mastodon\Tusky%20for%20Mastodon%20v1.0.3\Source%20Code">v1.0.3.zip </a></td>
<td>ComposeActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Tusky%20for%20Mastodon\Tests">TestCase 45</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 15)</td>
</tr>
<tr>
<td>104</td>
<td><a href="https://github.com/TwidereProject/Twidere-Android">Twidere</a></td>
<td>Social</td>
<td><a href="https://github.com/TwidereProject/Twidere-Android/issues/1110">Issue 1110</a></td>
<td><a href="https://github.com/TwidereProject/Twidere-Android/tree/3.7.3">v3.7.3</a></td>
<td><a href=".\Twidere\Twidere%20v3.7.3\Apk">v3.7.3.apk </a></td>
<td><a href=".\Twidere\Twidere%20v3.7.3\Source%20Code">v3.7.3.zip </a></td>
<td>BrowserSignInActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Twidere\Tests">TestCase 1110</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>26 (26 - 14)</td>
</tr>
<tr>
<td>105</td>
<td><a href="https://github.com/MarcusWolschon/osmeditor4android">Vespucci OSM Editor</a></td>
<td>Tools</td>
<td><a href="https://github.com/MarcusWolschon/osmeditor4android/issues/691">Issue 691</a></td>
<td><a href="https://github.com/MarcusWolschon/osmeditor4android/tree/10.2.0">v10.2</a></td>
<td><a href=".\Vespucci%20OSM%20Editor\Vespucci%20Osm%20Editor%20v10.2\Apk">v10.2.apk </a></td>
<td><a href=".\Vespucci%20OSM%20Editor\Vespucci%20Osm%20Editor%20v10.2\Source%20Code">v10.2.zip </a></td>
<td>HelpViewer</td>
<td><a href="https://github.com/MarcusWolschon/osmeditor4android/commit/8a0c2d73f984a839d60b6fa1e3accba04746ce88">8a0c2d7</a></td>
<td><a href=".\Vespucci%20OSM%20Editor\Vespucci%20Osm%20Editor%208a0c2d7\Apk">8a0c2d7.apk </a></td>
<td><a href=".\Vespucci%20OSM%20Editor\Vespucci%20Osm%20Editor%208a0c2d7\Source%20Code">8a0c2d7.zip</a></td>
<td><a href=".\Vespucci%20OSM%20Editor\Tests">TestCase 691</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 9)</td>
</tr>
<tr>
<td>106</td>
<td><a href="https://github.com/ojacquemart/vlilleChecker">Vlille Checker</a></td>
<td>Maps &amp; Navigation</td>
<td><a href="https://github.com/ojacquemart/vlilleChecker/issues/97">Issue 97</a></td>
<td><a href="https://github.com/ojacquemart/vlilleChecker/tree/v4.4.0">v4.4.0</a></td>
<td><a href=".\Vlille%20Checker\Vlille%20Checker%20v4.4.0\Apk">v4.4.0.apk </a></td>
<td><a href=".\Vlille%20Checker\Vlille%20Checker%20v4.4.0\Source%20Code">v4.4.0.zip </a></td>
<td>SettingsActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\Vlille%20Checker\Tests">TestCase 97</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>25 (25 - 14)</td>
</tr>
<tr>
<td>107</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer">WiFiAnalyzer</a></td>
<td>Tools</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/issues/36">Issue 36</a></td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/tree/V1.9.2-F-DROID">v1.9.2</a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20v1.9.2\Apk">v1.9.2.apk </a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20v1.9.2\Source%20Code">v1.9.2.zip </a></td>
<td>AboutActivity</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/commit/ec66082201cd9353bf977cc6941b413ebc58a2dc">ec66082</a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20ec66082\Apk">ec66082.apk </a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20ec66082\Source%20Code">ec66082.zip</a></td>
<td><a href=".\WiFiAnalyzer\Tests">TestCase 36</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>22 (27 - 16)</td>
</tr>
<tr>
<td>108</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer">WiFiAnalyzer</a></td>
<td>Tools</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/issues/77">Issue 77</a></td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/tree/V1.9.2-F-DROID">v1.9.2</a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20v1.9.2\Apk">v1.9.2.apk</a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20v1.9.2\Source%20Code">v1.9.2.zip </a></td>
<td>SettingActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\WiFiAnalyzer\Tests">TestCase 77</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>22 (27 - 16)</td>
</tr>
<tr>
<td>109</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer">WiFiAnalyzer</a></td>
<td>Tools</td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/issues/78">Issue 78</a></td>
<td><a href="https://github.com/VREMSoftwareDevelopment/WiFiAnalyzer/tree/V1.9.2-F-DROID">v1.9.2</a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20v1.9.2\Apk">v1.9.2.apk</a></td>
<td><a href=".\WiFiAnalyzer\WiFiAnalyzer%20v1.9.2\Source%20Code">v1.9.2.zip </a></td>
<td>SettingActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\WiFiAnalyzer\Tests">TestCase 78</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>22 (27 - 16)</td>
</tr>
<tr>
<td>110</td>
<td><a href="https://github.com/dasbiswajit/worldclockwidget">World Clock &amp; Weather</a></td>
<td>Travel &amp; Local</td>
<td><a href="https://github.com/arminha/worldclockwidget/issues/65">Issue 65</a></td>
<td><a href="https://github.com/arminha/worldclockwidget/tree/1.8.6">v1.8.6</a></td>
<td><a href=".\World%20Clock%20&amp;%20Weather\World%20Clock%20&amp;%20Weather%20v1.8.6\Apk">v1.8.6.apk </a></td>
<td><a href=".\World%20Clock%20&amp;%20Weather\World%20Clock%20&amp;%20Weather%20v1.8.6\Source%20Code">v1.8.6.zip </a></td>
<td>WorldClockPreferenceActivity</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td><a href=".\World%20Clock%20&amp;%20Weather\Tests">TestCase65</a>&nbsp;</td>
<td>Yes</td>
<td>23</td>
<td>19 (19 - 10)</td>
</tr>
</tbody>
</table>